
    *{
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    .outer{
        height:220px;
        width:1000px;
        border: 1px solid red;
        margin:0px auto;
    }
    .header{
        height:180px;
        width:1000px;
        background:#AB183D;
        display: flex;
    }
    .logo{
        height:180px;
        width: 180px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .title{
        height:180px;
        width:820px;
        float:right;
        text-align: center;
        color:#ffff;
    }
    .title .heading{
        padding-top:40px;
        font-size:42px;
        font-weight: 700;
        margin:0;
        color:white;
    }
    .title .subheading{
        font-weight: 70;
        margin:0;
        padding:0;
        color:white;
    }
    .wrap{
        width:100%;
        height:50px;
        position: relative;
        background-color: black;
        text-align: center;
        z-index: 9;
        margin:0;
        justify-content: center;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        margin:0px;
    }
    .navbar li{
        color:white;
       margin:0px;
       padding:15px;
        list-style: none;
        border-left:1px solid white;
        border-right:1px solid black;
        cursor:pointer;
        width:120px;
        height:50px;
        font-size: 14px;
        text-align: center;
        
    }
    .centerheading{
        width:100%;
        overflow: hidden;
        display: block;
        text-align: center;
    }
    .bodypara{
        color:red;
        text-align:center;
        margin:0px;
        padding:0px;
    }
    .container1{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .Results{
        width:300px;
        height:600px;
        border:1px solid #c81542 ;
        justify-content: center;
        text-align: center;
        margin:20px;
    }
    .outer2{
        width:1000px;
        border: 1px solid white;
        margin:0px auto;
    }
    .Results p{
        background-color: #AB183D;
        height:50px;
        color:white;
        width:100%;
        margin:0px;
        padding:12px;
    }
    #ContentArea{
        height:1000px;
    }
    .containerheading{
        color:white ;
        background-color: #AB183D;
        width:100%;
        margin:0px;
        padding:10px;
        height:50px;
        text-align: center;
        display: block;
    }
    .container1{
        gap:10px;
    }